<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>TransCenter Help</title>
    <link rel="stylesheet" type="text/css" href="static/help.css" />
  </head>

  <body>
    <div id="page">
      <div id="title">
        Supported Browsers
    </div>

      <p>
      Thank you for working on a translation project with TransCenter!
      To get started, please use one of the following supported browsers:

      <ul>
          <li> <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> (preferred)
          <li> <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>
      </ul>
      </p>
    </div>

  </body>
</html>
